<div class="container note-div">

  <h3 class="center-align caption"><%= @note.title %></h3>

  <pre><%= @note.content %></pre>

  <%= link_to "Edit", edit_note_path(@note), :class => "amber-text" %>
  <%= link_to "Delete", note_path(@note), :class => "amber-text", method: :delete, data: { confirm: "Are you sure?",  } %>

</div>
