<div class="container note-div">

  <h3 class="center-align caption"><%= @note.title %></h3>

  <pre><%= @note.content %></pre>

  <div class="action-btn">
    <%= link_to "Edit", edit_note_path(@note), :class => "amber-text edit-btn" %>
    <%= link_to "Delete", note_path(@note), :class => "amber-text delete-btn", method: :delete, data: { confirm: "Are you sure?",  } %>
  </div>
</div>
