 <div class="header">
    <%= image_tag("writing-notes.jpg", :class => "banner-img") %>
    <div class="main-header">
        <h1 class="center-align">THE NOTEBOOK</h1>
        <h6 class="center-align">We write to taste life twice, in the moment and in retrospect</h6>
        <div class="row">
        <%= link_to "Sign Up", new_user_registration_path, :class => "amber lighten-2 btn waves-effect waves-light col s2 offset-s5" %>
        </div>
        <%= image_tag("double-arrow-down.gif", :class => "arrow-down") %>    
    </div>   
</div> 
