<%= render "header" %>
<div class="row container features center-align">
  <div class="col s4">
    <i class="medium material-icons">center_focus_weak</i>
    <h5><b>Never forget an idea</b></h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur quam vero porro illo, nam perferendis illum a inventore alias. Ut enim debitis a quisquam iure molestiae illum ab aperiam.
  </div>
  <div class="col s4">
    <i class="medium material-icons">important_devices</i>
    <h5><b>Access from any device</b></h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima fugiat quas animi officia, dignissimos necessitatibus! Sint, in minima illum, quo vitae vel suscipit perspiciatis officiis voluptas earum libero a laboriosam!
  </div>
  <div class="col s4">
  <i class="medium material-icons">enhanced_encryption</i>
  <h5><b>Keep your notes private</b></h5>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga dolorem vitae reiciendis dolor unde odio, animi eveniet, praesentium enim culpa est debitis molestiae laborum earum repellendus iure aspernatur modi. Velit?
  </div>
</div>

<div class="caption">
  <%= image_tag("creativity.jpg", :class => "caption-img") %>
  <div class="caption-text center-align">
    <h3><b>Be creative today</b></h3>
    <h5>Use the notebook app</h5>
  </div>
</div>
<%= render "layouts/footer" %>