<%= render "header" %>
<div class="row container features">
  <div class="col s4">
    <h4><b>Ease of Access</b></h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem pariatur quam vero porro illo, nam perferendis illum a inventore alias. Ut enim debitis a quisquam iure molestiae illum ab aperiam.
  </div>
  <div class="col s4">
    <h4><b>Ease of Access</b></h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima fugiat quas animi officia, dignissimos necessitatibus! Sint, in minima illum, quo vitae vel suscipit perspiciatis officiis voluptas earum libero a laboriosam!
  </div>
  <div class="col s4">
  <h4><b>Ease of Access</b></h4>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga dolorem vitae reiciendis dolor unde odio, animi eveniet, praesentium enim culpa est debitis molestiae laborum earum repellendus iure aspernatur modi. Velit?
  </div>
</div>
