/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Bellefair');
@import url('https://fonts.googleapis.com/css?family=Vollkorn');
$primary-color: #ffd600;

 .logo {
     height: 40px;
     margin-top: 5px;
     margin-left: -7px;
     margin-right: -12px
 }

 .logo-txt {
   margin-left: 30px;
 }

 .page-footer {
    padding-top: 40px;
    margin-top: 78px;
 }

 #github-link {
     color: black;
     opacity: 2.0;
 }

 .caption {
    font-family: 'Bellefair', serif;
}

.login-div {
    margin-top: 80px;
    margin-bottom: 100px;
}

.signup-div, .new_note_div, .edit_note_div, .note-div {
  margin-top: 80px;
}

.note-div {
  margin-top: 40px;
}

pre {
  white-space: pre-wrap;
  font-family: 'Vollkorn', serif;
  font-size: 18px;
}

input#user_email.input_field:focus,
input#user_password:focus,
input#user_password_confirmation:focus,
input#user_email:focus,
input#note_title:focus,
input#search:focus,
textarea#note_content.materialize-textarea:focus {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #ffc107;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

[type="checkbox"]:checked+label:before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #ffc107;
    border-bottom: 2px solid #ffc107;
}

input[type="search"] {
height: 64px !important; /* or height of nav */
}

nav {


  ul {
    height: 60%;
  }
}
