// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.note  {
  padding-left: 30px;
  height: 150px;
  a {
    color: white;
  }
}

.notes-div {
  margin-top: 20px;
}

.action-btn {
  margin-bottom: 50px;
  .edit-btn {
    font-size: 18px;
    margin-right: 10px;
  }
  .delete-btn {
    font-size: 18px;
  }
}

.title {
  margin-top: -20px;
}