// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.note  {
  // padding: 90px 10 20px 10px;
  padding-left: 30px;
  height: 150px;
  a {
    color: white;
  }
}
