<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Contribute</h5>
        <p class="grey-text text-lighten-4">The notebook is an open source project inspired by the 2004 American romantic drama film directed by Nick Cassavetes of the same name.</p>
        <p class="grey-text text-lighten-4">Feel free to contribute and help us get better.</p>
        <a href="#" class="waves-effect waves-light btn grey lighten-3" id="github-link"><i class="fa fa-github-alt" aria-hidden="true"></i> Github</a>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Technologies Used</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!">Ruby / Rails</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Materialize</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">HTML</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">CSS</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2014 Copyright thecodingpoet
    <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
    </div>
  </div>
</footer>
    