 <nav>
 <div class="nav-wrapper grey darken-4">
    <span>
        <a href="#" class="logo-txt"><b>THENOTEB<%= image_tag("logo.png", :class => "logo") %>OK</b></a>
    </span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <li><a href="sass.html">login</a></li>
    <li><a href="sass.html">logout</a></li>
    </ul>
</div>
</nav>
